.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formStyle {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 75%;
  margin: auto;
  align-items: center;
  
  border: 3px solid black;
}
.formStyle input {
  width: 300px;
  height: 50px;
  font-size: 20px;
}
.formStyle button {
  width: 100px;
  height: 50px;
  margin-top: 15px;
  background-color: lightblue;
}
.formStyle button:hover {
  cursor: pointer;
}